<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<title>Google Maps API Sample</title>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<%= javascript_include_tag 'jquery-1.4.2.min' %>
	<script type="text/javascript">
	var a_poly = new google.maps.MVCArray();
	var precincts = new Array();
	jQuery.noConflict();
	jQuery(function(){
		var boundaries = <%= @boundaries.to_json %>;
		jQuery.each(boundaries, function(i,item){
			obj = eval("(" + item.values + ")");
			jQuery.each(obj.polygons, function(j,p){
				var b = new google.maps.MVCArray();
				jQuery.each(p.coords, function(t,k){
					b.insertAt(t,new google.maps.LatLng(k.lat, k.lon)); 
				});
				a_poly.insertAt(j,b);
				precincts.push({limits: b, stroke: item.stroke, fill: item.fill});
			});
		});
	});
	</script>
	<script type="text/javascript">
	var map;
	var poly;
	var pathcoordinates;
	function initialize() {

		a = new google.maps.LatLng(-33.884536,151.278221);
		options = {center: a,
			zoom: 14,
			mapTypeId: google.maps.MapTypeId.TERRAIN};
			map = new google.maps.Map(document.getElementById("map_canvas"),options);

			jQuery.each(precincts,function(index,obj){
				//console.log(obj);
				polygon_options = {paths: obj.limits,
					strokeColor: obj.stroke,
					fillColor: obj.fill}
					polygon = new google.maps.Polygon(polygon_options);
					polygon.setMap(map);
				});

				var southWest = new google.maps.LatLng(-33.902428,151.241208);
				var northEast = new google.maps.LatLng(-33.864867,151.288092);
				var bounds = new google.maps.LatLngBounds(southWest,northEast);


				google.maps.event.addListener(map, 'click', function(event) {
					placeMarker(event);
				});
				new_center = new google.maps.LatLng(-33.889020,151.272605);
				new_options = {center: new_center,
					zoom: 18,
					mapTypeId: google.maps.MapTypeId.TERRAIN};
					google.maps.event.addListener(polygon, 'click', function(event) {
						map.setOptions(new_options);
						polygon.setMap();
					});
					//map.fitBounds(bounds);
					//displayDetails(polygon,event);

				}

				function placeMarker(event){
					position = event.latLng;
					mark = new google.maps.Marker({map: map, position: position});
					mark.setMap(map);	

					mark.setTitle("#" + position);
				}

				function displayDetails(event){

					new_center = new google.maps.LatLng(-33.889020,151.272605);
					options = {center: new_center,
						zoom: 12,
						mapTypeId: google.maps.MapTypeId.TERRAIN};
						google.maps.event.addListener(polygon, 'click', function(event) {
							map.setOptions(options);
							polygon.setMap(map);
						});

					}
					</script>
				</head>
				<body style="margin:0px; padding:0px;" onload="initialize()">
					<div id="map_canvas" style="width:55%; height:70%"></div>
				</body>
				</html>